@model Application.Customers.Queries.GetCustomer.CustomerViewModel

@{
    Layout = null;
}

@if(Model.Customer == null)
{
    <div class="card">
        <div class="card-body">
            <h4 class="text-danger">Customer does not exist</h4>
        </div>
    </div>
}
else
{
    <div class="card">
        <div class="card-body">
            <div class="e-profile">
                <ul class="nav nav-tabs" id="@($"customer{Model.Customer.CustomerId}NavTabs")">
                    <li class="nav-item" style="cursor: pointer">
                        <a class="active nav-link customer-tab-pane" data-customerId="@Model.Customer.CustomerId" data-open="#@($"customer{Model.Customer.CustomerId}TabInfo")">Info</a>
                    </li>
                    <li class="nav-item" style="cursor: pointer">
                        <a class="nav-link customer-tab-pane" data-customerId="@Model.Customer.CustomerId" data-open="#@($"customer{Model.Customer.CustomerId}TabAccounts")">Accounts</a>
                    </li>
                    <li class="nav-item" style="cursor: pointer">
                        <a class="nav-link customer-tab-pane" data-customerId="@Model.Customer.CustomerId" data-open="#@($"customer{Model.Customer.CustomerId}TabCreateTransaction")">Create transaction</a>
                    </li>
                </ul>
                <div class="tab-content pt-3" id="@($"customer{Model.Customer.CustomerId}Tabs")">
                    <div class="tab-pane active" id="@($"customer{Model.Customer.CustomerId}TabInfo")">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label asp-for="Customer.Givenname"></label>
                                                    <input class="form-control" asp-for="Customer.Givenname" disabled>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <label asp-for="Customer.Surname"></label>
                                                    <input class="form-control" asp-for="Customer.Surname" disabled>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label asp-for="Customer.Emailaddress"></label>
                                                    <input class="form-control" asp-for="Customer.Emailaddress" type="email" disabled>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-sm-12">
                                                <div class="form-group">
                                                    <label asp-for="Customer.Telephonecountrycode"></label>
                                                    <input class="form-control" asp-for="Customer.Telephonecountrycode" disabled>
                                                </div>
                                            </div>
                                            <div class="col-md-7 col-sm-12">
                                                <div class="form-group">
                                                    <label asp-for="Customer.Telephonenumber"></label>
                                                    <input class="form-control" asp-for="Customer.Telephonenumber" disabled>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col mb-3">
                                                <div class="row">
                                                    <div class="col mb-3">
                                                        <div class="form-group">
                                                            <label asp-for="Customer.Streetaddress"></label>
                                                            <input class="form-control" asp-for="Customer.Streetaddress" disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <div class="form-group">
                                                            <label asp-for="Customer.Zipcode"></label>
                                                            <input class="form-control" asp-for="Customer.Zipcode" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="form-group">
                                                            <label asp-for="Customer.Country"></label>
                                                            <input class="form-control" asp-for="Customer.Country" disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="@($"customer{Model.Customer.CustomerId}TabAccounts")">
                        <partial name="Components/CustomerDetail/_CustomerAccounts" />
                    </div>
                    <div class="tab-pane" id="@($"customer{Model.Customer.CustomerId}TabCreateTransaction")">
                        <partial name="_CreateTransaction" model="@(new CreateTransactionViewModel {AccountIds = Model.Customer.Accounts.Select(a => a.AccountId)})" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

