@model Application.Transactions.Queries.GetTransaction.TransactionViewModel

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.TransactionId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Transaction.TransactionId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.AccountId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Transaction.AccountId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Transaction.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Transaction.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.Operation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Transaction.Operation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Transaction.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.Balance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Transaction.Balance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.Symbol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Transaction.Symbol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.Bank)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Transaction.Bank)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.Account)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Transaction.Account)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" asp-controller="Home">Back</a>
</div>
