@model Domain.SearchModels.SearchData

@foreach (var result in Model.ResultList.Results)
{
    <tr class="card" >
        <td class="card-header" id="@($"HeaderCustomerTable{result.Document.CustomerId}")">
            <a class="btn btn-link httpGet collapsed"
               asp-controller="Customers"
               asp-action="Index"
               asp-route-id="@result.Document.CustomerId"
               data-toggle="collapse"
               data-target="#@($"collapseCustomerTable{result.Document.CustomerId}")"
               aria-expanded="true"
               aria-controls="@($"collapseCustomerTable{result.Document.CustomerId}")"
               data-ajax="true"
               data-ajax-method="GET"
               data-ajax-mode="replace"
               data-ajax-update="#@($"loaderCustomerTable{result.Document.CustomerId}")"
               style="width: 100%">
                <div class="row">
                    <div class="col-sm-1 m-0">
                        <div class="sb-sidenav-collapse-arrow">
                            <i class="fas fa-angle-down"></i>
                        </div>
                    </div>
                    <div class="col-sm-11 m-0">
                        <h5 class="m-0 text-left">
                            @result.Document.Givenname @result.Document.Surname    @result.Document.City
                        </h5>
                    </div>
                </div>
            </a>

        </td>

        
    </tr>
    <tr id="@($"collapseCustomerTable{result.Document.CustomerId}")"
        class="collapse"
        aria-labelledby="@($"HeaderCustomerTable{result.Document.CustomerId}")"
        data-parent="#accordionCustomerTable">
        <td>
            <div class="card-body">
                <div id="@($"loaderCustomerTable{result.Document.CustomerId}")">
                    <i class="fas fa-circle-notch fa-spin"></i>
                </div>
            </div>
        </td>
    </tr>
}
