@model SearchViewModel
@using System.Threading
@using Application.Search.Query
@using Domain.Enums
@using Domain.SearchModels

@{
    var delta = (int)Math.Floor(Model.PageRange / 2.0);
    var leftOverStart = Model.CurrentPage + delta - Model.PageCount;
    var startForLoop = Model.CurrentPage > delta ? Model.CurrentPage - delta -(leftOverStart > 0 ? leftOverStart : 0) : 1;
    var leftOverEnd = delta - Model.CurrentPage + 1;
    var endForLoop = Model.PageCount < Model.CurrentPage + delta ? Model.PageCount : Model.CurrentPage + delta + (leftOverEnd > 0 ? leftOverEnd : 0);
}
<div id="CustomerTableContainer">
    <table id="accordionCustomerTable" style="width: 100%">
        <thead>
            <tr class="card">
                <th>Sök:<input id="search" class="form-control httpSearch" type="text" value="@Model.SearchText" data-url="@Url.Action("GetCustomers", "Customers", new {page = Model.CurrentPage, orderByField = Model.OrderByField, orderBy = Model.OrderByType})" data-replaceId="#CustomerTableContainer" /></th>
            </tr>
            <tr class="card">
                <th>
                    <div class="row">
                        <div class="offset-1 col-sm-3">
                            <a class="nav-link httpOther"
                               data-replaceId="#CustomerTableContainer"
                               asp-controller="Customers"
                               asp-action="GetCustomers"
                               asp-route-page="@Model.CurrentPage"
                               asp-route-orderByField="@nameof(CustomerSearch.Givenname)"
                               asp-route-orderBy="@(Model.OrderByField != nameof(CustomerSearch.Givenname) ? OrderByType.Ascending : Model.OrderByType == OrderByType.Ascending ? OrderByType.Descending : OrderByType.None)">
                                Given name
                                @if (Model.OrderByField == nameof(CustomerSearch.Givenname) && Model.OrderByType == OrderByType.Ascending)
                                {
                                    <i class="fas fa-sort-up"></i>
                                }
                                else if (Model.OrderByField == nameof(CustomerSearch.Givenname) && Model.OrderByType == OrderByType.Descending)
                                {
                                    <i class="fas fa-sort-down"></i>
                                }
                            </a>
                        </div>
                        <div class="col-sm-3">
                            <a class="nav-link httpOther"
                               data-replaceId="#CustomerTableContainer"
                               asp-controller="Customers"
                               asp-action="GetCustomers"
                               asp-route-page="@Model.CurrentPage"
                               asp-route-orderByField="@nameof(CustomerSearch.Surname)"
                               asp-route-orderBy="@(Model.OrderByField != nameof(CustomerSearch.Surname) ? OrderByType.Ascending : Model.OrderByType == OrderByType.Ascending ? OrderByType.Descending : OrderByType.None)">
                                Surname
                                @if (Model.OrderByField == nameof(CustomerSearch.Surname) && Model.OrderByType == OrderByType.Ascending)
                                {
                                    <i class="fas fa-sort-up"></i>
                                }
                                else if (Model.OrderByField == nameof(CustomerSearch.Surname) && Model.OrderByType == OrderByType.Descending)
                                {
                                    <i class="fas fa-sort-down"></i>
                                }
                            </a>
                        </div>
                        <div class="col-sm-3">
                            <a class="nav-link httpOther"
                               data-replaceId="#CustomerTableContainer"
                               asp-controller="Customers"
                               asp-action="GetCustomers"
                               asp-route-page="@Model.CurrentPage"
                               asp-route-orderByField="@nameof(CustomerSearch.City)"
                               asp-route-orderBy="@(Model.OrderByField != nameof(CustomerSearch.City) ? OrderByType.Ascending : Model.OrderByType == OrderByType.Ascending ? OrderByType.Descending : OrderByType.None)">
                                City
                                @if (Model.OrderByField == nameof(CustomerSearch.City) && Model.OrderByType == OrderByType.Ascending)
                                {
                                    <i class="fas fa-sort-up"></i>
                                }
                                else if (Model.OrderByField == nameof(CustomerSearch.City) && Model.OrderByType == OrderByType.Descending)
                                {
                                    <i class="fas fa-sort-down"></i>
                                }
                            </a>
                        </div>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody id="customerTableBody">
            @foreach (var result in Model.Customers)
            {
                <tr class="card">
                    <td class="card-header" id="@($"HeaderCustomerTable{result.CustomerId}")">
                        <a class="btn btn-link httpGet collapsed"
                           asp-controller="Customers"
                           asp-action="Index"
                           asp-route-id="@result.CustomerId"
                           data-toggle="collapse"
                           data-target="#@($"collapseCustomerTable{result.CustomerId}")"
                           aria-expanded="true"
                           aria-controls="@($"collapseCustomerTable{result.CustomerId}")"
                           data-ajax="true"
                           data-ajax-method="GET"
                           data-ajax-mode="replace"
                           data-ajax-update="#@($"loaderCustomerTable{result.CustomerId}")"
                           style="width: 100%">
                            <div class="row">
                                <div class="col-sm-1 m-0">
                                    <div class="sb-sidenav-collapse-arrow">
                                        <i class="fas fa-angle-down"></i>
                                    </div>
                                </div>
                                <div class="col-sm-11 m-0">
                                    <h5 class="m-0 text-left">
                                        @result.Givenname - @result.Surname,  @result.City
                                    </h5>
                                </div>
                            </div>
                        </a>

                    </td>


                </tr>
                <tr id="@($"collapseCustomerTable{result.CustomerId}")"
                    class="collapse"
                    aria-labelledby="@($"HeaderCustomerTable{result.CustomerId}")"
                    data-parent="#accordionCustomerTable">
                    <td>
                        <div class="card-body">
                            <div id="@($"loaderCustomerTable{result.CustomerId}")">
                                <i class="fas fa-circle-notch fa-spin"></i>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td>
                    <nav>
                        <ul class="pagination">
                            <li class="page-item  @(Model.CurrentPage == 1 ? "disabled" : "")">
                                <a class="page-link httpOther"
                                   data-replaceId="#CustomerTableContainer"
                                   asp-controller="Customers"
                                   asp-action="GetCustomers"
                                   asp-route-page="1"
                                   asp-route-orderByField="@Model.OrderByField"
                                   asp-route-orderBy="@Model.OrderByType">
                                    First
                                </a>
                            </li>
                            <li class="page-item @(Model.CurrentPage-1 == 0 ? "disabled" : "")">
                                <a class="page-link httpOther"
                                   data-replaceId="#CustomerTableContainer"
                                   asp-controller="Customers"
                                   asp-action="GetCustomers"
                                   asp-route-page="@(Model.CurrentPage-1)"
                                   asp-route-orderByField="@Model.OrderByField"
                                   asp-route-orderBy="@Model.OrderByType">
                                    Previous
                                </a>
                            </li>
                            @for (var i = startForLoop; i <= endForLoop; i++)
                            {
                                <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                                    <a class="page-link httpOther"
                                       data-replaceId="#CustomerTableContainer"
                                       asp-controller="Customers"
                                       asp-action="GetCustomers"
                                       asp-route-page="@i"
                                       asp-route-orderByField="@Model.OrderByField"
                                       asp-route-orderBy="@Model.OrderByType">
                                        @i
                                    </a>
                                </li>
                            }
                            <li class="page-item  @(Model.CurrentPage+1 > Model.PageCount ? "disabled" : "")">
                                <a class="page-link httpSearch"
                                   data-replaceId="#CustomerTableContainer"
                                   asp-controller="Customers"
                                   asp-action="GetCustomers"
                                   asp-route-page="@(Model.CurrentPage+1)"
                                   asp-route-orderByField="@Model.OrderByField"
                                   asp-route-orderBy="@Model.OrderByType">
                                    Next
                                </a>
                            </li>
                            <li class="page-item  @(Model.PageCount == Model.CurrentPage ? "disabled" : "")">
                                <a class="page-link httpOther"
                                   data-replaceId="#CustomerTableContainer"
                                   asp-controller="Customers"
                                   asp-action="GetCustomers"
                                   asp-route-page="@Model.PageCount"
                                   asp-route-orderByField="@Model.OrderByField"
                                   asp-route-orderBy="@Model.OrderByType">
                                    Last
                                </a>
                            </li>
                        </ul>
                    </nav>
                </td>
            </tr>
        </tfoot>
    </table>
</div>