@model Application.Customers.Queries.GetCustomer.CustomerViewModel

@{
    Layout = null;
}

<div class="card">
        <div class="card-body">
            <div class="e-profile">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="" class="active nav-link">Info</a>
                    </li>
                </ul>
                <div class="tab-content pt-3">
                    <div class="tab-pane active">
                        <div class="row">
                            <div class="col-sm-12 col-md-8">
                                <div class="row">
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label asp-for="Customer.Givenname"></label>
                                                    <input class="form-control" asp-for="Customer.Givenname" disabled>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <label asp-for="Customer.Surname"></label>
                                                    <input class="form-control" asp-for="Customer.Surname" disabled>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label asp-for="Customer.Emailaddress"></label>
                                                    <input class="form-control" asp-for="Customer.Emailaddress" type="email" disabled>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-sm-12">
                                                <div class="form-group">
                                                    <label asp-for="Customer.Telephonecountrycode"></label>
                                                    <input class="form-control" asp-for="Customer.Telephonecountrycode" disabled>
                                                </div>
                                            </div>
                                            <div class="col-md-7 col-sm-12">
                                                <div class="form-group">
                                                    <label asp-for="Customer.Telephonenumber"></label>
                                                    <input class="form-control" asp-for="Customer.Telephonenumber" disabled>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col mb-3">
                                                <div class="row">
                                                    <div class="col mb-3">
                                                        <div class="form-group">
                                                            <label asp-for="Customer.Streetaddress"></label>
                                                            <input class="form-control" asp-for="Customer.Streetaddress" disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <div class="form-group">
                                                            <label asp-for="Customer.Zipcode"></label>
                                                            <input class="form-control" asp-for="Customer.Zipcode" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="form-group">
                                                            <label asp-for="Customer.Country"></label>
                                                            <input class="form-control" asp-for="Customer.Country" disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <table class="table table-dark">
                                    <thead>
                                    <tr>
                                        <th colspan="2">Account</th>
                                        <th>Balance</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    @foreach (var account in Model.Customer.Accounts)
                                    {
                                        <tr data-toggle="collapse" data-target="#@($"accordionAccount{account.AccountId}")" class="tableDarkRowLink append" 
                                            data-ajax="true"
                                            data-ajax-url="@Url.Action("GetTransactionsByAccountId","Transactions",new {currentPage=1,id=account.AccountId})"
                                            data-ajax-append="#@($"bodyAccount{account.AccountId}")"
                                            data-ajax-delete="#@($"loadMoreTransactions{account.AccountId}")">
                                            <td colspan="2">Id: @account.AccountId</td>
                                            <td>@account.Balance.ToString("C")</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">
                                                <div id="@($"accordionAccount{account.AccountId}")" class="collapse">
                                                    <table class="table table-dark table-hover">
                                                        <thead>
                                                        <tr >
                                                            <th class="text-center">Transaction</th>
                                                            <th class="text-right">Amount</th>
                                                            <th class="text-right">Balance</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody id="@($"bodyAccount{account.AccountId}")">
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td colspan="3">
                                            <div class="ml-auto">
                                                @($"Total: {Model.Customer.TotalBalance:C}")
                                            </div>
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>