@model Application.Customers.Queries.GetTop10CustomersByCountry.Top10CustomersByCountryViewModel

@{
    Layout = null;
}

<div id="accordionCustomer">
    @foreach (var customer in Model.Customers)
    {
        <div class="card">
            <div class="card-header" id="@($"HeaderCustomer{customer.CustomerId}")">
                <a class="btn btn-link httpGet collapsed"
                   asp-controller="Customers"
                   asp-action="Index"
                   asp-route-id="@customer.CustomerId"
                   data-toggle="collapse"
                   data-target="#@($"collapseCustomer{customer.CustomerId}")"
                   aria-expanded="true"
                   aria-controls="@($"collapseCustomer{customer.CustomerId}")"
                   data-ajax="true"
                   data-ajax-method="GET"
                   data-ajax-mode="replace"
                   data-ajax-update="#@($"loaderCustomer{customer.CustomerId}")"
                   style="width: 100%">
                    <div class="row" >
                        <div class="col-sm-1 m-0">
                            <div class="sb-sidenav-collapse-arrow">
                                <i class="fas fa-angle-down"></i>
                            </div>
                        </div>
                        <div class="col-sm-11 m-0">
                            <h5 class="m-0 text-left">
                                @customer.Givenname @customer.Surname
                            </h5>
                        </div>
                    </div>
                </a>
                
            </div>

            <div id="@($"collapseCustomer{customer.CustomerId}")" 
                 class="collapse" 
                 aria-labelledby="@($"HeaderCustomer{customer.CustomerId}")" 
                 data-parent="#accordionCustomer">
                <div class="card-body">
                    <div id="@($"loaderCustomer{customer.CustomerId}")">
                        <i class="fas fa-circle-notch fa-spin"></i>
                    </div>
                </div>
            </div>
        </div>
    }
    
</div>
